@import '~react-slidy/lib/styles';

.slider {
  animation: 5s fadeIn;
  width: 100%;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-main {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 var(--p-arrows);
}

@media screen and (max-width: var(--max-width-slider)) {
  .slider-main {
    padding: 0;
  }
}

.react-Slidy {
  position: static;
  max-width: var(--max-width-slider);
  width: 100%;
}

.react-Slidy .slider-imageWrapper, .slider-scroll .slider-imageWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: var(--ar-images);
  display: block;
}

.slider-scroll .slider-imageWrapper {
  opacity: var(--op-cards);
  border: var(--bd-base) solid var(--c-black);
  margin: 0 var(--m-base);
}

.slider-scroll .selected {
  opacity: 1;
  border-color: var(--c-white);
}

.react-Slidy .slider-imageWrapper img,  .slider-scroll .slider-imageWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border: none;
  object-fit: contain;
}

.slider-scroll .slider-imageWrapper img {
  object-fit: cover;
}

.react-Slidy .react-Slidy-arrow {
  opacity: 1;
}

.react-Slidy-arrowRight {
  right: var(--s-arrows);
}

.react-Slidy-arrowLeft {
  left: var(--s-arrows);
}

.react-Slidy-prev, .react-Slidy-next {
  background: none;
}

.react-Slidy-prev::after, .react-Slidy-next::after {
  transition: var(--trs-base);
}

.react-Slidy-prev:hover::after, .react-Slidy-next:hover::after {
  border-color: var(--c-white);
  transition: var(--trs-base);
}

.slider-scroll {
  width: var(--max-width-slider);
  display: flex;
  overflow-x: hidden;
  list-style: none;
}

.slider-scroll-item {
  width: var(--w-scroll-image);
  cursor: pointer;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
