.react-image-gallery {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.react-image-gallery-main {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.react-image-gallery .react-Slidy {
  max-width: 960px;
  position: static;
  width: 100%;
}
.react-image-gallery-scroll {
  max-width: 850px;
  overflow: hidden;
  width: 100vw;
}
.react-image-gallery-items {
  display: flex;
  list-style: none;
  transition: all 0.6s ease;
  width: 100%;
  will-change: transform, transition-timing, transition-duration;
  margin: 0;
  padding: 0;
}

.react-image-gallery-item {
  cursor: pointer;
  flex: 1 0 calc(100% / 3);
  padding: 0 8px;
  position: relative;
  user-select: none;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .react-image-gallery-item {
    flex: 1 0 calc(100% / 5);
  }
}

@media (min-width: 1024px) {
  .react-image-gallery-item {
    flex: 1 0 calc(100% / 7);
  }
}

.react-image-gallery-imageWrapper {
  display: block;
  overflow: hidden;
  padding-top: 50%;
  position: relative;
  width: 100%;
}
.react-image-gallery .react-image-gallery-image {
  border: none;
  bottom: 0;
  height: 100%;
  left: 0;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.react-image-gallery-scroll .react-image-gallery-image {
  object-fit: cover;
}
.react-image-gallery-scroll .react-image-gallery-imageWrapper {
  border: 2px solid grey;
  opacity: 0.7;
  box-sizing: border-box;
}
.react-image-gallery-scroll .react-image-gallery-imageWrapper:hover {
  border-color: white;
  opacity: 1;
}
.react-image-gallery .react-image-gallery-selected {
  border-color: white;
  opacity: 1;
}
.react-image-gallery-index {
  font-size: 32px;
  margin: calc(8px * 1.5) 0;
}
.react-image-gallery .react-Slidy .react-Slidy-arrow {
  opacity: 1;
}
.react-image-gallery .react-Slidy-prev,
.react-image-gallery .react-Slidy-next {
  background: none;
  border: 1px solid white;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  min-height: auto;
}
.react-image-gallery .react-Slidy-prev::after,
.react-image-gallery .react-Slidy-next::after {
  width: 16px;
  height: 16px;
}
.react-image-gallery .react-Slidy-prev:hover::after,
.react-image-gallery .react-Slidy-next:hover::after {
  border-color: white;
}
.react-image-gallery .react-Slidy-prev::after {
  margin-left: 8px;
}
.react-image-gallery .react-Slidy-next::after {
  margin-right: 8px;
}
