*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --max-width-slider: 850px;
    --w-scroll-image: 110px;
    --c-black: #1D1D1D;
    --c-white: #fff;
    --op-cards: 0.7;
    --m-base: 8px;
    --p-base: 8px;
    --bd-base: 2px;
    --trs-base: 0.3s all ease-in-out;
    --p-arrows: calc(var(--p-base) * 6);
    --ar-images: 66.6666%; /* 3:2 Aspect Ratio (divide 2 by 3 = 0.666666) */
    --s-arrows: 2%;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--c-black);
    color: var(--c-white);
}
