.app {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.sliderContainer {
    align-items: center;
    animation: 5s fadeIn;
    display: flex;
    justify-content: center;
    width: 60%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}